<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
  crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<title>EPI Finder</title>
</head>

<script>
 $(document).ready(()=>{
  $(document).on('click', '#search', function () { 
    window.location.href='/api/'+ $('#caNumber').val();
  });
  $(document).keydown(function (e) {
    if ((e.keyCode || e.which) == 13) window.location.href='/api/'+ $('#caNumber').val();
  });
 })

</script>
<body>
  <h1> Search a EPI by C.A.</h1>
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="CA number" id="caNumber">
        <span class="input-group-btn">
            <button id="search" class="btn btn-secondary" type="button">Buscar</button>
          </span>
      </div>
    </div>
  </div>
</body>